// Screen
.screen {
  border: 3px solid darkslateblue;
  background-color: white;
  margin: 16px;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  .column {
    border: 1px solid darkslateblue;
    padding: 24px;
  }
  .map {
    background-color: rgb(192, 185, 231);
    .grid {
      background-color: white;
    }
    .player-info {
      display: flex;
      padding: 10px;
      justify-content: space-between;
      font-size: 1.2rem;
      color: darkslategray;
    }
    .seed-info {
      background-color: slateblue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3px;
      .loot-title {
        font-weight: bold;
        font-size: 1.5rem;
        color: white;
      }
      .seed-slots {
        display: flex;
        .seed-item {
          background-color: white;
          font-size: 24px;
          font-weight: bold;
          color: darkslateblue;
        }
      }
    }
  }
  .log {
    background-color: rgb(145, 134, 212);
    .log-display {
      display: flex;
      flex-direction: column;
      .log-entry {
        color: white;
        font-size: 1.2rem;
        .turn {
          font-size: 1.2rem;
          color: darkslategray;
        }
      }
    }
  }
}

// Equipment
.equipment {
  background-color: rgb(145, 134, 212);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .equipment-slots {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
    .equipment-item {
      border: 3px solid darkslateblue;
      border-radius: 16px;
      width: 8rem;
      height: 8rem;
      padding: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
    }
  }
}

// Map
.map {
  display: flex;
  flex-direction: column;
  .seed-info {
    border: 3px solid darkslateblue;
    border-radius: 16px;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    .seed-item {
      border: 3px solid darkslateblue;
      border-radius: 16px;
      width: 1.5rem;
      height: 1.5rem;
      padding: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// Grid
.grid {
  display: flex;
  flex-direction: column;
  border: 3px solid darkslateblue;
  padding: 16px;
  justify-content: center;
  align-items: center;
  height: 25rem;
  gap: 1px;
  .grid-row {
    display: flex;
    flex-direction: row;
    gap: 1px;
    height: 100%;
    width: 50%;
    .grid-cell {
      border: 3px solid darkslategray;
      width: 100%;
      height: 100%;
      min-width: 2.5rem;
      min-height: 2.5rem;
      border-radius: 8px;
      background-color: slategray;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 100%;
      transition: 0.2s;
      transition-timing-function: ease-in-out;
      &:hover {
        background-color: lightgrey;
        cursor: pointer;
      }
    }
    // Cell subclass
    .empty {
      background-color: brown;
    }
    .loot {
      background-color: white;
    }
  }
}

// Log
.log-display {
  border: 3px solid black;
  padding: 8px;
  height: 85%;
  overflow-y: scroll;
}