.screen {
  border: 3px solid darkslateblue;
  background-color: white;
  margin: 16px;
  height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

.screen .column {
  border: 1px solid darkslateblue;
  padding: 24px;
}

.screen .map {
  background-color: #c0b9e7;
}

.screen .map .grid {
  background-color: white;
}

.screen .map .player-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
  color: darkslategray;
}

.screen .map .seed-info {
  background-color: slateblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
}

.screen .map .seed-info .loot-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.screen .map .seed-info .seed-slots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.screen .map .seed-info .seed-slots .seed-item {
  background-color: white;
  font-size: 24px;
  font-weight: bold;
  color: darkslateblue;
}

.screen .log {
  background-color: #9186d4;
}

.screen .log .log-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.screen .log .log-display .log-entry {
  color: white;
  font-size: 1.2rem;
}

.screen .log .log-display .log-entry .turn {
  font-size: 1.2rem;
  color: darkslategray;
}

.equipment {
  background-color: #9186d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.equipment .equipment-slots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.equipment .equipment-slots .equipment-item {
  border: 3px solid darkslateblue;
  border-radius: 16px;
  width: 8rem;
  height: 8rem;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map .seed-info {
  border: 3px solid darkslateblue;
  border-radius: 16px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.map .seed-info .seed-item {
  border: 3px solid darkslateblue;
  border-radius: 16px;
  width: 1.5rem;
  height: 1.5rem;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid darkslateblue;
  padding: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25rem;
  gap: 1px;
}

.grid .grid-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1px;
  height: 100%;
  width: 50%;
}

.grid .grid-row .grid-cell {
  border: 3px solid darkslategray;
  width: 100%;
  height: 100%;
  min-width: 2.5rem;
  min-height: 2.5rem;
  border-radius: 8px;
  background-color: slategray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.grid .grid-row .grid-cell:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.grid .grid-row .empty {
  background-color: brown;
}

.grid .grid-row .loot {
  background-color: white;
}

.log-display {
  border: 3px solid black;
  padding: 8px;
  height: 85%;
  overflow-y: scroll;
}
/*# sourceMappingURL=Screen.css.map */