// Screen
.screen {
  border: 3px solid darkgray;
  background-color: white;
  margin: 16px;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  .column {
    border: 1px solid black;
    padding: 24px;
  }
}

// Equipment
.equipment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .equipment-slots {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
    .equipment-item {
      border: 3px solid black;
      border-radius: 16px;
      width: 8rem;
      height: 8rem;
      padding: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// Map
.map {
  display: flex;
  flex-direction: column;
  .seed-info {
    border: 3px solid black;
    border-radius: 16px;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    .seed-item {
      border: 3px solid black;
      border-radius: 16px;
      width: 1.5rem;
      height: 1.5rem;
      padding: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// Grid
.grid {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  padding: 16px;
  justify-content: center;
  align-items: center;
  height: 25rem;
  gap: 1px;
  .grid-row {
    display: flex;
    flex-direction: row;
    gap: 1px;
    .grid-cell {
      border: 3px solid darkslategray;
      padding: 10px;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 8px;
      background-color: slategray;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: lightgrey;
        cursor: pointer;
      }
    }
    // Cell subclass
    .empty {
      background-color: brown;
    }
    .loot {
      background-color: white;
    }
  }
}