.hotbar {
  background-color: var(--theme-primary);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 16px;
  height: 15vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

.hotbar .info {
  border: 3px solid var(--theme-secondary);
  padding: 0.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.hotbar .main {
  padding: 0.5em 1em;
  border: 3px solid var(--theme-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotbar .main .btn {
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border: 3px solid darkslategray;
  border-radius: 16px;
  padding: 1rem;
  width: 15rem;
  font-size: 1.5rem;
  background-color: slategray;
  color: white;
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.hotbar .main .btn:hover {
  cursor: pointer;
  background-color: darkgray;
}

.hotbar .main .btn:focus {
  background-color: var(--theme-secondary);
}

.inventory-main {
  background-color: var(--theme-primary);
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inventory-main .inventory-grid {
  max-width: 50rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.inventory-main .inventory-grid .inventory-slot {
  border: 3px solid var(--theme-secondary);
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 16px;
  background-color: slategray;
  color: white;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.inventory-main .inventory-grid .item {
  background-color: white;
  color: var(--theme-secondary);
}

.inventory-main .inventory-grid .item .item-name {
  font-size: 1.2rem;
}

.inventory-main .inventory-grid .item .Common {
  color: yellow;
}

.inventory-main .inventory-grid .item .Uncommon {
  color: greenyellow;
}

.inventory-main .inventory-grid .item .Rare {
  color: cyan;
}

.inventory-main .inventory-grid .item .Mythical {
  color: violet;
}

.inventory-main .inventory-grid .item .tooltip {
  visibility: hidden;
  max-width: 12rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Position the tooltip */
  position: absolute;
  top: 80%;
  z-index: 1;
}

.inventory-main .inventory-grid .item:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.inventory-main .inventory-grid .item:hover .tooltip {
  visibility: visible;
}

.garden-main {
  background-color: green;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.garden-main .garden-grid {
  max-width: 50rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.garden-main .garden-grid .garden-slot {
  border: 3px solid maroon;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 16px;
  background-color: brown;
  color: white;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.garden-main .garden-grid .garden-slot:hover {
  cursor: pointer;
  background-color: #e03d3d;
}

.garden-main .garden-grid .options-popup {
  position: fixed;
  top: 25%;
  left: 35%;
  height: 25%;
  background-color: orangered;
  border: 3px solid maroon;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.garden-main .garden-grid .options-popup .plant-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.garden-main .garden-grid .options-popup .plant-options .plant-grid {
  max-width: 50rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.garden-main .garden-grid .options-popup .plant-options .plant-grid .inventory-slot {
  border: 3px solid var(--theme-secondary);
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 16px;
  background-color: slategray;
  color: white;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.garden-main .garden-grid .options-popup .plant-options .plant-grid .item {
  background-color: white;
  color: var(--theme-secondary);
}

.garden-main .garden-grid .options-popup .plant-options .plant-grid .plant {
  border: 3px solid maroon;
}

.garden-main .garden-grid .item {
  background-color: darkorange;
  color: var(--theme-secondary);
}

.garden-main .garden-grid .item .item-name {
  font-size: 1.2rem;
}

.garden-main .garden-grid .item .Common {
  color: yellow;
}

.garden-main .garden-grid .item .Uncommon {
  color: greenyellow;
}

.garden-main .garden-grid .item .Rare {
  color: cyan;
}

.garden-main .garden-grid .item .Mythical {
  color: violet;
}

.garden-main .garden-grid .item .tooltip {
  visibility: hidden;
  max-width: 12rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Position the tooltip */
  position: absolute;
  top: 80%;
  z-index: 1;
}

.garden-main .garden-grid .item:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.garden-main .garden-grid .item:hover .tooltip {
  visibility: visible;
}

.market-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 70vh;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: slategray;
}

.market-main .market-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.market-main .seed-list {
  overflow-y: scroll;
}

.market-main .seed-list .market-seed {
  font-size: 16px;
  border: 1px solid slategray;
}

.market-main .seed-list .market-seed .seed-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  background-color: darkslategray;
}

.market-main .seed-list .market-seed .seed-details .seed-image {
  background-color: white;
  border: 2px solid darkslategray;
  border-radius: 8px;
}

.end {
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border: 3px solid darkgoldenrod;
  border-radius: 50%;
  padding: 1rem;
  width: 8rem;
  font-size: 1.5rem;
  background-color: gold;
  color: maroon;
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.end:hover {
  cursor: pointer;
  background-color: goldenrod;
  color: white;
}

.end:focus {
  background-color: goldenrod;
  color: white;
}

.end-day {
  padding: 1rem;
  background-color: var(--theme-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.end-day .end-choice {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.end-day .end-choice .choice-btn {
  font-size: 24px;
  font-weight: bold;
  border: 3px solid var(--grey-2);
  background-color: var(--grey-1);
  color: white;
  border-radius: 8px;
  padding: 8px;
  width: 8rem;
}

.end-day .end-choice .choice-btn:hover {
  cursor: pointer;
  background-color: var(--grey-2);
  color: white;
}

.question {
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--theme-secondary);
  color: white;
  border-radius: 50%;
  border: 3px solid var(--subtheme-2);
  width: 4rem;
  height: 4rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.question:hover {
  cursor: pointer;
  background-color: var(--subtheme-1);
}

.question:focus {
  background-color: var(--subtheme-1);
}

.discard-window .slot {
  border: 3px solid var(--theme-secondary);
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 16px;
  background-color: white;
  color: white;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
/*# sourceMappingURL=Hotbar.css.map */