.hotbar {
  background-color: slateblue;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 16px;
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  .info {
    border: 3px solid darkslateblue;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .main {
    padding: 0.5em 1em;
    border: 3px solid darkslateblue;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    .btn {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      border: 3px solid darkslategray;
      border-radius: 16px;
      padding: 1rem;
      width: 15rem;
      font-size: 1.5rem;
      background-color: slategray;
      color: white;
      font-weight: bold;
      transition: 0.2s;
      transition-timing-function: ease-in-out;
      &:hover {
        cursor: pointer;
        background-color: darkgray;
      }
      &:focus {
        background-color: darkslateblue;
      }
    }
  }
}

// Inventory
.inventory-main {
  background-color: slateblue;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .inventory-grid {
    max-width: 50rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    .inventory-slot {
      border: 3px solid darkslateblue;
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 16px;
      background-color: slategray;
      color: white;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: 0.2s;
      transition-timing-function: ease-in-out;
    }
    .item {
      background-color: white;
      color: darkslateblue;
      .item-name {
        font-size: 1.2rem;
      }
      .Common {
        color: yellow;
      }
      .Uncommon {
        color: greenyellow;
      }
      .Rare {
        color: cyan;
      }
      .Mythical {
        color: violet;
      }
      .tooltip {
        visibility: hidden;
        max-width: 12rem;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        display: flex;
        flex-direction: column;
      
        /* Position the tooltip */
        position: absolute;
        top: 80%;
        z-index: 1;
      }
      &:hover {
        cursor: pointer;
        background-color: white;
        color: black;
        .tooltip {
          visibility: visible;
        }
      }
    }
  }
}

// Other buttons
.end {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border: 3px solid darkgoldenrod;
  border-radius: 50%;
  padding: 1rem;
  width: 8rem;
  font-size: 1.5rem;
  background-color: gold;
  color: maroon;
  font-weight: bold;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  &:hover {
    cursor: pointer;
    background-color: goldenrod;
    color: white;
  }
}
.question {
  font-size: 2rem;
  font-weight: bold;
  background-color: darkslateblue;
  color: white;
  border-radius: 50%;
  border: 3px solid darkslategray;
  width: 4rem;
  height: 4rem;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  &:hover {
    cursor: pointer;
    background-color: rgb(145, 134, 212);
  }
  &:focus {
    background-color: darkslateblue;
  }
}