body {
  background-color: lavender;
}

img {
  size: inherit;
}

.seed-image {
  width: 3rem;
  height: 3rem;
  position: relative;
}

.seed-image-mini {
  min-width: 1.5rem;
  min-height: 1.5rem;
  position: relative;
}

.popup {
  position: fixed;
  top: 5%;
  left: 5%;
  height: 70%;
  width: 90%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  .popup-inner {
    position: relative;
    padding: 6px;
    width: 100%;
    background-color: darkslateblue;
    .close-btn {
      position: absolute;
      top: 16px;
      right: 16px;
      background-color: darkslategray;
      color: white;
      font-weight: bold;
      &:hover {
        cursor: pointer;
        background-color: lightslategray;
        color: black;
      }
    }
  }
}

