:root {
  --theme-primary: slateblue;
  --theme-secondary: darkslateblue;
  --subtheme-1: rgb(145, 134, 212);
  --subtheme-2: rgb(192, 185, 231);
  --grey-1: slategray;
  --grey-2: darkslategray;
  --font-1: #fff;
}

body {
  background-color: lavender;
  color: var(--grey-2);
  font-family: Arial, Helvetica, sans-serif;
}

img {
  size: inherit;
}

.seed-image {
  width: 3rem;
  height: 3rem;
  position: relative;
}

.seed-image-mini {
  min-width: 1.5rem;
  min-height: 1.5rem;
  position: relative;
}

.popup {
  position: fixed;
  top: 5%;
  left: 5%;
  height: 70%;
  width: 90%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  .popup-inner {
    position: relative;
    padding: 6px;
    width: 100%;
    background-color: darkslateblue;
    color: white;
    .close-btn {
      position: absolute;
      top: 16px;
      right: 16px;
      background-color: darkslategray;
      color: white;
      font-weight: bold;
      &:hover {
        cursor: pointer;
        background-color: lightslategray;
        color: black;
      }
    }
  }
}

